In [ ]:
#1
cars=['audi', 'bmw', 'gmc', 'hyundai', 'volkswagen']
for car in cars:
  if car=='bmw' or car=='gmc':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
GMC
Hyundai
Volkswagen

In [ ]:
#2
while True:
  print("Waht is the weather today? (1:Sunny, 2: Rainy, 3: Cloudy, 4: Snowy)")
  choice=input()
  if choice=='1':
    print("오늘은 날씨가 좋으니까 짜장면!")
  elif choice=='2':
    print("오늘은 비가 오니까 짬뽕!")
  elif choice=='3':
    print("오늘은 흐리니까 볶음밥!")
  elif choice=='4':
    print("오늘은 눈이 오니까 탕수육!")
  else:
    print("Bye Bye~")
    break;

Waht is the weather today? (1:Sunny, 2: Rainy, 3: Cloudy, 4: Snowy)
1
오늘은 날씨가 좋으니까 짜장면!
Waht is the weather today? (1:Sunny, 2: Rainy, 3: Cloudy, 4: Snowy)
a
Bye Bye~

In [ ]:
#3
numbers=[i for i in range(1, 11)]
for number in numbers:
  if number==1: ordinal="st"
  elif number==2: ordinal="nd"
  elif number==3: ordinal="rd"
  else: ordinal="th"
  print(f"{number}{ordinal}", end=" ")

1st 2nd 3rd 4th 5th 6th 7th 8th 9th 10th

In [ ]:
#4
for x in range(1, 10):
  for y in range(1, 10):
    print(x, '*', y, '=', x*y)
    if y==9: print("\n")

In [11]:
#5
months=['January', 'Faburary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

#5-1
for month in months:
  if 'r' in month: print(month, end=" ")
print("\n")

#5-2
months_abb={}
print(months_abb)
for month in months:
  months_abb[month[0:3]]=month
print(months_abb)
print(months_abb.get('Apr'))
print(months_abb.get('Dec'))

#5-3
months_num={}
print(months_num)
for num in range(1,13):
  months_num[num]=months[num-1][0:3]
print(months_num)
print(months_num.get(4))
print(months_num.get(12))

January Faburary March April September October November December

{}
{'Jan': 'January', 'Fab': 'Faburary', 'Mar': 'March', 'Apr': 'April', 'May': 'May', 'Jun': 'June', 'Jul': 'July', 'Aug': 'August', 'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}
April
December
{}
{1: 'Jan', 2: 'Fab', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}
Apr
Dec